@model Hexagonal.Example.Models.EditModel
@{
    ViewBag.Title = "Create";
}

<h2>Edit</h2>

<form method="post">
    <div>
        @Html.LabelFor( m => m.Name )
        @Html.TextBoxFor( m => m.Name )
        @Html.ValidationMessageFor( m => m.Name )
    </div>
    <div>
        @Html.LabelFor( m => m.Surname )
        @Html.TextBoxFor( m => m.Surname )
        @Html.ValidationMessageFor( m => m.Surname )
    </div>
    <button>Save</button>
</form>
